@inherits LayoutComponentBase

<PageTitle>WebGUI</PageTitle>

<div class="page">

    <main>
        <div class="top-row px-4">
            <a href="/">Tower Defense</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
