@page "/"
<h3>Homepage</h3>

<ul>
    <li><a href="newgame"> new Game </a> </li>
    <li><a href="savedgames"> load Game </a> </li>
</ul>


<a href="map/1">Game1</a>

@code {
    
    // readgraph iwie glaub ich braucht man -> Pani fragen
    
}