@page "/"
<div style="position: absolute; top: 20vh; left: 13%; min-width: 80vw; ">
    <div style="width: 200px; height: 200px; shape-outside: circle(); clip-path: circle(); background-color: #EE5168; position:absolute; top: -20%; left: -6%; z-index: -1;"></div>
    <h1 style="font-size: 200px;">Tower Defense</h1>
</div>

<ul style="position:absolute; left: 50%; transform: translateX(-50%); top: 50vh; list-style: none;" class="text-center">
    <li>
        <a href="newgame" class="text-decoration-none japan"> NEW GAME </a>
    </li>
    <li>
        <a href="savedgames" class="text-decoration-none japan"> LOAD GAME </a>
    </li>
</ul>
<img src="/image/UI/branch.svg"/>
<a href="map/1">Game 1</a>


@code {

    // readgraph iwie glaub ich braucht man -> Pani fragen

}