@page "/map/{MapId:int}"
@using Model.Entities.Map
@using Domain.Repositories.Interfaces
@inherits LayoutComponentBase
@inject IMapRepository _repository


<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div style="text-align: center ">
    <MudLayout>
        <MudMainContent>
            @if (FieldList is not null) {
                @for (int i = 0; i < FieldList.GetMaxX(); i++) {
                    @for (int j = 0; j < FieldList.GetMinY(); j++) {
                        @if (FieldList.Contains(i, j)) {
                            <img src="@FieldList.GetField(i,j).GetFieldType()" alt="image"/>
                        }
                    }
                    <br/>
                }
            }
        </MudMainContent>
    </MudLayout>
</div>


@code {
    
    [Parameter]
    public int MapId { get; set; }

    public FieldList FieldList { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var map = await _repository.ReadGraphAsync(MapId);

        if (map is not null)
        {
            FieldList = new FieldList(map.Fields);
        }
    }
}