@page "/newgame"
@using Domain.Repositories.Interfaces
@using Model.Entities
@inject IRepository<SavedGame> _gameRepository;
@inject ILogger<SavedGame> _logger
@inject NavigationManager _navManager

<h3>NewGame</h3>

<EditForm Model="@Game" class="form" OnValidSubmit="async () => await CreateGame()">
    <DataAnnotationsValidator/>
    <InputText id="strength-input" class="form-text" @bind-Value="@Game.Name"/>
    <ValidationMessage For="() => Game.Name"></ValidationMessage>
    <button type="submit" class="btn">Submit</button>
</EditForm>

@code {

    // weiterleitung zum game (noch nicht implementieren)


    public SavedGame Game { get; set; } = new();

    public async Task CreateGame() {
        Game.Money = 200;
        Game.Round = 1;
        Game.HP = 100;
        await _gameRepository.CreateAsync(Game);
        
        _logger.LogInformation("Game created!");
        _navManager.NavigateTo("/");
    }
}