@page "/newgame"
@using Domain.Repositories.Interfaces
@using Model.Entities
@inject IRepository<SavedGame> _gameRepository;
@inject ILogger<SavedGame> _logger
@inject NavigationManager _navManager

<div style="position: absolute; top: 20vh; left: 25%; max-width: 80vw; ">
    <div style="width: 200px; height: 200px; shape-outside: circle(); clip-path: circle(); background-color: #EE5168; position:absolute; top: -20%; left: -10%; z-index: -1;"></div>
    <h1 style="font-size: 200px; max-width: 50vw">NEW GAME</h1>
</div>

@*<ul style="position:absolute; left: 50%; transform: translateX(-50%); top: 50vh; list-style: none;" class="text-center">
    <li>
        <a href="newgame" class="text-decoration-none japan"> NEW GAME </a>
    </li>
    <li>
        <a href="savedgames" class="text-decoration-none japan"> LOAD GAME </a>
    </li>
</ul>*@
<img src="/image/UI/branch.svg"/>

<EditForm Model="@Game" class="form" style="position:absolute; left: 50%; transform: translateX(-50%); top: 50vh; list-style: none;" class="text-center" OnValidSubmit="async () => await CreateGame()">
    <DataAnnotationsValidator/>
    <InputText id="strength-input" class="form-text" style="font-size: 2rem" @bind-Value="@Game.Name"/>
    <ValidationMessage For="() => Game.Name"></ValidationMessage>
    <p class="text-danger">@message</p>
    <button type="submit" class="btn japan">Submit</button>
</EditForm>

@code {
    public SavedGame Game { get; set; } = new();
    public List<SavedGame> GameList { get; set; }
    
    public string message { get; set; } = "";


    public async Task CreateGame() {
        Game.Money = 200;
        Game.Round = 1;
        Game.HP = 100;
        Game.MapId = 1;

        GameList = await _gameRepository.ReadAllAsync();

        if (GameList.Exists(g => g.Name == Game.Name)) {
            message = "Name already exists";
        }
        else {
            await _gameRepository.CreateAsync(Game);
            _logger.LogInformation("Game created!");
            _navManager.NavigateTo($"/map/{Game.SavedGameId}");
        }
    }

    
}