@page "/savedgames"
@using Domain.Repositories.Interfaces
@using Model.Entities
@inject IRepository<SavedGame> _gameRepository;

<h3>SavedGames</h3>

@if (@GameList is not null) {
    @if (@GameList.Count > 0) {
        <ul>
        @foreach (var games in GameList) {
            <li><a href="map/@games.MapId">@games.Name</a></li>
        }
        </ul>
    }
    else {
        <p>No Games found!</p>
    }
}
else {
    <span>loading...</span>
}

@code {
    public List<SavedGame> GameList { get; set; }
    
    protected override async Task OnParametersSetAsync() {
        GameList = await _gameRepository.ReadAllAsync();
    }
}