@font-face {
    font-family: 'Gang of Three';
    src: url('/fonts/go3v2.ttf') format('truetype');
}

h1 {
    color: #262626;
    font-family: 'Gang of Three', serif;
}

.japan {
    color: #e094ad;
    font-family: 'Gang of Three', serif;
    font-size: 4.5rem;
}

img {
    position: absolute;
    max-width: 33vw;
    max-height: 60vh;
    right: 0px;
    top: 300px;
}