@page "/savedgames"
@using Domain.Repositories.Interfaces
@using Model.Entities
@inject IRepository<SavedGame> _gameRepository;

<div style="position: absolute; top: 20vh; left: 13%; min-width: 80vw; ">
    <div style="width: 200px; height: 200px; shape-outside: circle(); clip-path: circle(); background-color: #EE5168; position:absolute; top: -20%; left: -6%; z-index: -1;"></div>
    <h1 style="font-size: 200px;">Tower Defense</h1>
</div>


<img src="/image/UI/branch.svg"/>


@if (@GameList is not null) {
    @if (@GameList.Count > 0) {
        <ul style="position:absolute; left: 50%; transform: translateX(-50%); top: 50vh; list-style: none;" class="text-center">
        @foreach (var games in GameList) {
            <li><a class="text-decoration-none japan" href="map/@games.SavedGameId">@games.Name</a></li>
        }
        </ul>
    }
    else {
        <p>No Games found!</p>
    }
}
else {
    <span>loading...</span>
}

@code {
    public List<SavedGame> GameList { get; set; }
    
    protected override async Task OnParametersSetAsync() {
        GameList = await _gameRepository.ReadAllAsync();
    }
}