/* _content/WebGUI/Pages/Homepage.razor.rz.scp.css */
@font-face {
    font-family: 'Gang of Three';
    src: url('/fonts/go3v2.ttf') format('truetype');
}

h1[b-e59vrvbsdi] {
    color: #262626;
    font-family: 'Gang of Three', serif;
}

.japan[b-e59vrvbsdi] {
    color: #ECA8E1;
    font-family: 'Gang of Three', serif;
    font-size: 4.5rem;
}

img[b-e59vrvbsdi] {
    position: absolute;
    max-width: 33vw;
    transform: scale(-1, -1);
    right: 0px;
    top: 450px;
}
/* _content/WebGUI/Pages/NewGame.razor.rz.scp.css */
@font-face {
    font-family: 'Gang of Three';
    src: url('/fonts/go3v2.ttf') format('truetype');
}

h1[b-e69fkt9r7x] {
    color: #262626;
    font-family: 'Gang of Three', serif;
}

.japan[b-e69fkt9r7x] {
    color: #ECA8E1;
    font-family: 'Gang of Three', serif;
    font-size: 4.5rem;
}

img[b-e69fkt9r7x] {
    position: absolute;
    max-width: 33vw;
    transform: scale(-1, -1);
    right: 0px;
    top: 450px;
}
/* _content/WebGUI/Pages/SavedGameList.razor.rz.scp.css */
@font-face {
    font-family: 'Gang of Three';
    src: url('/fonts/go3v2.ttf') format('truetype');
}

h1[b-odechfuidb] {
    color: #262626;
    font-family: 'Gang of Three', serif;
}

.japan[b-odechfuidb] {
    color: #ECA8E1;
    font-family: 'Gang of Three', serif;
    font-size: 4.5rem;
}

img[b-odechfuidb] {
    position: absolute;
    max-width: 33vw;
    transform: scale(-1, -1);
    right: 0px;
    top: 450px;
}
/* _content/WebGUI/Shared/MainLayout.razor.rz.scp.css */
.page[b-j35uws3xtc] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-j35uws3xtc] {
    flex: 1;
}

.sidebar[b-j35uws3xtc] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-j35uws3xtc] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-j35uws3xtc]  a, .top-row .btn-link[b-j35uws3xtc] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-j35uws3xtc] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-j35uws3xtc] {
        display: none;
    }

    .top-row.auth[b-j35uws3xtc] {
        justify-content: space-between;
    }

    .top-row a[b-j35uws3xtc], .top-row .btn-link[b-j35uws3xtc] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-j35uws3xtc] {
        flex-direction: row;
    }

    .sidebar[b-j35uws3xtc] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-j35uws3xtc] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-j35uws3xtc], article[b-j35uws3xtc] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/WebGUI/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-u15faa9dwh] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-u15faa9dwh] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-u15faa9dwh] {
    font-size: 1.1rem;
}

.oi[b-u15faa9dwh] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-u15faa9dwh] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-u15faa9dwh] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-u15faa9dwh] {
        padding-bottom: 1rem;
    }

    .nav-item[b-u15faa9dwh]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-u15faa9dwh]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-u15faa9dwh]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-u15faa9dwh] {
        display: none;
    }

    .collapse[b-u15faa9dwh] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
